<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hack submitted</title>

  <link rel="stylesheet" href="assets/demo.css">
  <link rel="stylesheet" href="assets/form-validation.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div class="main-content">
  <p>PR submitted: <a href="{{ pr_url }}">{{ pr_url }}</a>!</p>

  <p>If you want to edit your submission you'll need to edit the "<a href="{{ pr_branch_url }}"> {{ pr_branch_name }}</a>" branch in your github repository. </p>
</div>

</html>
