<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>dotAstronomy Hack Submission</title>

  <link rel="stylesheet" href="assets/demo.css">
  <link rel="stylesheet" href="assets/form-validation.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

    <div class="main-content">

        <!-- You only need this form and the form-validation.css -->

        <form class="form-validation" method="post" action="create">
            <input type="hidden" name="access_token" value="{{ access_token }}" required>

            <div class="form-title-row">
                <h1>Submit Your Hack to dotAstro</h1>
            </div>

            <div class="form-row form-input-title-row">

                <label>
                    <span>* Title</span>
                    <input type="text" name="title" value="My Awesome Hack" required>
                </label>

                <label>
                    <span>* Which dotAstronomy?</span>
                    <select name="dotastronumber" required>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8" selected>8</option>
                    </select>
                </label>

                <!--
                    Add these three elements to every form row. They will be shown by the
                    .form-valid-data and .form-invalid-data classes (see the JS for an example).
                -->

                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-input-creators-row">

                <label>
                    <span>* Creators</span>
                    <input type="text" name="creators" value="Anne Onymous, John Doe" required>
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-input-description-row">

                <label>
                    <span>* Description</span>
                    <input type="text" name="description" value="This hack does a really cool thing" required>
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-input-source_url-row">

                <label>
                    <span>Source URL</span>
                    <input type="text" name="source_url" value="http://github.com/hacker1/hack1">
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-live_url-row">

                <label>
                    <span>Live URL</span>
                    <input type="text" name="live_url" value="http://hack1.herokuapp.com">
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-doi-row">

                <label>
                    <span>DOI</span>
                    <input type="text" name="doi" value="http://zenodo.org/1029812">
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-input-email-row">

                <label>
                    <span>Email</span>
                    <input type="email" name="email" value="email@example.com">
                </label>

                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-orcid-row">

                <label>
                    <span>ORCID</span>
                    <input type="text" name="orcid" value="orcid.org/0000-0000-0000-0000">
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row form-image-row">

                <label>
                    <span>Image</span>
                    <input type="file" name="pic" accept="image/*">
                </label>


                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <input type="submit" value="Submit">

        </form>

    </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

    $(document).ready(function() {

        // Here is how to show an error message next to a form field

        var errorField = $('.form-input-name-row');

        // Adding the form-invalid-data class will show
        // the error message and the red x for that field

        errorField.addClass('form-invalid-data');
        errorField.find('.form-invalid-data-info').text('Please enter your name');


        // Here is how to mark a field with a green check mark

        var successField = $('.form-input-email-row');

        successField.addClass('form-valid-data');
    });

</script>

</html>
