<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
<title>{{event}}</title>  <meta name="description" content="">
  <meta name="author" content="Gomez Family website">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>

</head>
<body>
  <div class="section">
    <div class="container">
{{header}}

{% for data in pages %}
  <h2>{{data.title}}</h2>
  <p>{{data.description}}</p>
  <ul>
  {% for creator in data.creators %}
  <li>{{creator}}</li>
  {% endfor %}
</ul>
  <dl>
  {% for key, value in data.items() %}
      <dt>{{ key|e }}</dt>
      <dd>{{ value|e }}</dd>
  {% endfor %}
  </dl>

{% endfor%}
</body>
</html>
