{% extends 'index.html'%}

{% block main %}
{{header}}

<h2>Hack Day projects</h2>
{% for data in pages %}
  <h2>{{data.title}}</h2>
  <p>{{data.description}}</p>
  <h3>Creators</h3>
  <ul>
  {% for creator in data.creators %}
  <li>{{creator}}</li>
  {% endfor %}
</ul>

<h3>Other Information</h3>
<ul>
  {% if data['source-url'] %}
  <li><a href="{{data['source-url']}}">Go to source</a></li>
  {% endif %}
  {% if data['live-url']%}
  <li><a href="{{data['live-url']}}">Go to live</a></li>
  {% endif %}
  {% if data['doi']%}
  <li><a href="{{data['doi']}}">DOI: {{data.doi}}</a></li>
  {% endif %}
</ul>

{% for image in data.images %}
<img src="{{image}}" /><br/>
{% endfor %}

<hr />
{% endfor%}
{% endblock %}
